<%- model_class = Nodo -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>
    
    <div>        
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nodo_id) %></th>
      <th><%= model_class.human_attribute_name(:vaca_id) %></th>
      <th><%= model_class.human_attribute_name(:bateria) %></th>
      <th>Alarma</th>
      <% if signed_in? && current_user.admin?%>
         <th>Accion</th>
      <% end %>      
    </tr>
  </thead>
  <tbody>
    <% @nodos.each do |nodo| %>
      <tr>
        <td><%= nodo.id %></td>
        <td><%= nodo.nodo_id %></td>
        <td><%= nodo.vaca_id %></td>
        <td><span class="badge badge-success"><%= nodo.bateria %> % carga</span></td>
        <td></td>
         <% if signed_in? && current_user.admin?%>
          <td>
          <%= link_to 'Eliminar',
                      nodo_path(nodo),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro de eliminar el nodo?')),
                      :class => 'btn btn-mini btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
      <% if signed_in? && current_user.admin?%>
      <%= link_to 'Agregar Nodo',new_nodo_path,:class => 'btn btn-primary' %>
      <% end %>     
