<div class="row">
  <div class="span6 offset3">

<%= form_for @vaca do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :caravana, :class => 'control-label' %>
    <%= f.number_field :caravana, :class => 'number_field' %>

    <%= f.label :raza, :class => 'control-label' %>
    <%= f.text_field :raza, :class => 'text_field' %>

    <%= f.label :estado, :class => 'control-label' %>
    <%= f.text_field :estado, :class => 'text_field' %>

    <%= f.label :nodo_id, :class => 'control-label' %>
    <%= f.collection_select :nodo_id, @nodos, :nodo_id, :nodo_id, :include_blank => true %>
  
  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar',vacas_path, :class => 'btn' %>
  </div>
<% end %>
  </div>
</div>