<%- model_class = Vaca -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>
    <div>        
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    </div> 
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:caravana) %></th>
      <th><%= model_class.human_attribute_name(:rodeo) %></th>
      <th>Ultimo Registro</th>
      <th>Ultimo Celo</th>
      <th>Collar</th>
      <th>Detalle</th>
      <% if signed_in? && current_user.admin?%>
       <th>Accion</th>
       <% end %>
    </tr>
  </thead>
  <tbody>
    <% @vacas.each do |vaca| %>
      <tr>
        <td><%= vaca.caravana %></td>
        <td><%= vaca.rodeo %></td>
        <% if vaca.sucesos.any? %>   
        <td><%= vaca.sucesos.first.tipo.to_s %> el <%= vaca.sucesos.first.momento.strftime("%d/%m") %>   <%= link_to 'Historial', sucesos_vaca_path(:id => vaca.id), :class => 'btn btn-mini' %></td>
        <% else %>
        <td></td>
        <% end %>
        <% if vaca.celos.any? %>   
         <td>hace <%= ((Time.now - vaca.celos.first.comienzo)/(3600*24)).to_i %> dias</td>
        <% else %><td></td><% end %>
        <td><%= vaca.nodo_id %></td>
        <td><%= link_to 'Ver Detalle', vaca_path(vaca), :class => 'btn btn-mini' %></td>
        
        <% if signed_in? && current_user.admin?%>
        <td>
          <%= link_to 'Editar',
                      edit_vaca_path(vaca), :class => 'btn btn-mini' %>
          <%= link_to 'Eliminar',vaca_path(vaca),:method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro de eliminar la vaca?')), :class => 'btn btn-mini btn-danger' %>
        </td> <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
<%= will_paginate @vacas %>
</div> 


<div class="span9">    
   <%= collection_select :vaca,:caravana, @vacas, :id, :caravana %>
   
<!--     <%= form_for @vacas do |f| %>
      <%= f.collection_select :caravana, Vaca.all, :id, :caravana %>
    <% end %>
 --></div>


  <% if signed_in? && current_user.admin?%>  
    <%= link_to 'Agregar Vaca', new_vaca_path,:class => 'btn btn-primary' %>
  <% end %>
