<div class="page-header">
  <h4>DETALLE DE VACA <%= @vaca.caravana %></h4>
</div>

<div class="container-fluid">
  
<div class="row">
        <div class="span4">
          <h4>DATOS</h4>
          <ul>
          <li><strong>Rodeo: </strong> <%= @vaca.rodeo %></li>
          <li><strong>Collar: </strong> <%= @vaca.nodo_id %></li>
          </ul>
        
        </div><!--/span-->
        <div class="span4">
          <h4>CELOS</h4>
          <ul>
          <li><strong>Ultimo Celo: </strong> <%= @ultimo_celo.to_s %></li>
          <li><strong>Ultimo Servicio: </strong> <%= @ultimo_servicio.to_s %></li>
          <li><strong>Servicios post-parto: </strong> <%= @servicios_pp.to_s %></li>
          </ul>
        </div><!--/span-->
        <div class="span4">
          <h4>PARTOS</h4>
          <ul>
          <li><strong>Ultimo Parto: </strong> <%= @ultimo_parto_reg.to_s %></li>
          <li><strong>Intervalo entre partos: </strong> -</li>
          </ul>
        </div><!--/span-->
</div><!--/row-->

<% if @vaca.actividades.any? && !@act_chart.nil?%>
  <div class="row">
    <div class="page-header">
     <h4>Grafico de Actividad</h4>
    </div>
     
    <div class="span9"> 
      <div id='act_chart'></div>
        <%= high_chart("act_chart",@act_chart) %>
    </div>
  </div>

  <div class="span9"> 
    <%= link_to 'Actividad Ultima Semana',act_vaca_path(@vaca), :class => 'btn'  %>
  </div>
 <% end %>
</div>

<br>

<div class="form-actions">
  <%= link_to 'Volver',
              vacas_path, :class => 'btn'  %>
  <%= link_to 'Editar',
              edit_vaca_path(@vaca), :class => 'btn' %>
</div>