<div class="page-header">
  <h4>DETALLE DE VACA <%= @vaca.caravana %></h4>
</div>

<div class="container-fluid">
  
<div class="row">
        <div class="span4">
          <h4>DATOS</h4>
          <ul>
          <li><strong>Raza: </strong> <%= @vaca.raza %></li>
          <li><strong>Estado: </strong> <%= @vaca.estado %></li>
          <li><strong>Nodo: </strong> <%= @vaca.nodo_id %></li>
          </ul>
        
        </div><!--/span-->
        <div class="span4">
          <h4>CELOS</h4>
          <ul>
          <li><strong>Ultimo Celo: </strong></li>
          <li><strong>Ultimo Servicio: </strong></li>
          <li><strong>Servicios post-parto: </strong> 3</li>
          </ul>
        </div><!--/span-->
        <div class="span4">
          <h4>PARTOS</h4>
          <ul>
          <li><strong>Ultimo Parto: </strong></li>
          <li><strong>Intervalo entre partos: </strong> 380 dias</li>
          </ul>
        </div><!--/span-->
  </div><!--/row-->

  <div class="page-header">
  <h4>Historial de partos y servicios</h4>
  </div>
    
  <div class="span8">  
    <div id='time_line_chart' style='width: 700px; height: 200px;'></div>
        <%= render_chart(@time_line_chart, 'time_line_chart') %>
    </div> 
  </div> 

 <div class="page-header">
  <h4>Grafico de Actividad</h4>
  </div>
  <br>

<div class="form-actions">
  <%= link_to 'Volver',
              vacas_path, :class => 'btn'  %>
  <%= link_to 'Editar',
              edit_vaca_path(@vaca), :class => 'btn' %>
</div>