<% provide(:title, "Agregar Registro") %>
<div class="page-header">
  <h3>Agregar Registro</h3>
</div>

  <div class="span9">
  	
     <%= form_for(@suceso) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
  
      <%= f.label :vaca %>
      <%= f.collection_select :vaca_id, @vacas, :id, :caravana %>
  
      <%= f.label :tipo, 'Registro' %>
      <%= f.select :tipo, options_for_select([["Inseminada", "inseminada"],["Ultimo Celo", "ultimo_celo"],["Parto", "parto"]]) %>

      <%= f.label :momento, 'Fecha' %>
      <%= f.datepicker 'momento'%>
      
    <div class="actions">
      <%= f.submit "Agregar", :class => "actions btn-small btn-primary" %>
    </div>
    <% end %>
  </div>
