  
<div class="page-header">
  <h3>Vacas en Celo</h3>
</div>
  <div class="span9">
    <% if !@vacas_en_celo.nil? %>

    <div class="alert alert-info">
      <strong>Celos!</strong> se han detectado <%= @vacas_en_celo.count %> vacas en celo.
    </div>
    
  <table class="table table-bordered table-striped">

  <thead>
    <tr>
      <th>Vaca</th>
      <th>Comienzo</th>
      <th>Horario para Inseminacion</th>
      <th>Servicios Post-Parto</th>
      <th>Ultimo Celo</th>
      <th>Actividad</th>
    </tr>
  </thead>
    <tbody>
      <% @vacas_en_celo.each do |vaca_en_celo| %>
      <tr>
        <td><%= vaca_en_celo.caravana %></td>
        <td><%= @celo_start.strftime("%d/%m %H") %> hrs</td>
        <td>desde <%= @celo_start.advance(:hours => 8).strftime("%d/%m %H") %>hrs hasta <%= @celo_start.advance(:hours => 17).strftime("%d/%m %H") %>hrs <br> optimo: <%= @celo_start.advance(:hours => 11).strftime("%d/%m %H") %>hrs</td>
        <td>2</td>
        <td><%= @celo_start.advance(:days => -21).strftime("%d/%m %H") %>hrs</td>
        <td>
        <%= link_to 'Ver', celos_path(:vaca_select => vaca_en_celo), :class => 'btn'%>
        </td>
      </tr>
      <% end%>
  </tbody>
 </table>
 
 <% if @vaca_selected.actividades.any? && !@act_chart.nil?%>
 <div class="row">
   <br>
   <div class="span11"> 
      <div id='act_chart'></div>
        <%= render_chart(@act_chart, 'act_chart') %>
   </div>
 </div>
<% end %>
      
    <% else %>
    <div class="alert alert-info">
      <button class="close" data-dismiss="alert">&times;</button>
      No se han detectado vacas en celo.
    </div>
  <% end %>

</div>

  </div>

