  
<div class="page-header">
  <h3>Vacas en Celo</h3>
</div>
  <div class="span11">
    <% if @vacas_en_celo.any? %>
    
  <table class="table table-bordered table-striped">

  <thead>
    <tr>
      <th>Vaca</th>
      <th>Comienzo</th>
      <th>Horario para Inseminacion</th>
      <th>Probabilidad</th>
      <th>Ultimo Celo</th>
      <th>Actividad</th>
    </tr>
  </thead>
    <tbody>
      <% @vacas_en_celo.each do |vaca| %>
      <tr>
        <td><%= vaca.caravana %></td>
        <td><%= vaca.celos.first.comienzo.strftime("%d/%m %H") %> hrs</td>
        <td>desde <%= vaca.celos.first.comienzo.advance(:hours => 10).strftime("%d/%m %H") %>hrs hasta <%= vaca.celos.first.comienzo.advance(:hours => 18).strftime("%d/%m %H") %>hrs <br> optimo: <%= vaca.celos.first.comienzo.advance(:hours => 12).strftime("%d/%m %H") %>hrs</td>
        <td><%= vaca.celos.first.probabilidad %>: <%= vaca.celos.first.causa %> </td>
        <% if vaca.celos.count > 1 %>   
        <td>hace <%= ((Time.now - vaca.celos.second.comienzo)/(3600*24)).to_i %> dias</td>
        <% else %>
        <td></td>
        <% end %>
        <td>
        <%= link_to 'Ver', celos_path(:vaca_select => vaca.celos.first.vaca_id), :class => 'btn'%>
        </td>
      </tr>
      <% end%>
  </tbody>
 </table>
 
   <% if !@vaca_selected.nil? && @vaca_selected.actividades.any? && !@act_chart.nil?%>
   <div class="row">
     <br>
     <div class="span11"> 
        <div id='act_chart'></div>
          <%= high_chart("act_chart",@act_chart) %>
     </div>
   </div>
  <% end %>
        
<% else %>
    <div class="alert alert-info">
      <button class="close" data-dismiss="alert">&times;</button>
      No se han detectado vacas en celo.
    </div>
  <% end %>

</div>

  </div>

