  
<div class="page-header">
  <h3>Vacas en Celo</h3>
</div>
  <div class="span11">
    <% if !@celos.nil? %>
    
  <table class="table table-bordered table-striped">

  <thead>
    <tr>
      <th>Vaca</th>
      <th>Comienzo</th>
      <th>Horario para Inseminacion</th>
      <th>Ultimo Celo</th>
      <th>Actividad</th>
    </tr>
  </thead>
    <tbody>
      <% @celos.each do |celo| %>
      <tr>
        <td><%= celo.vaca_id %></td>
        <td><%= celo.comienzo.strftime("%d/%m %H") %> hrs</td>
        <td>desde <%= celo.comienzo.advance(:hours => 8).strftime("%d/%m %H") %>hrs hasta <%= celo.comienzo.advance(:hours => 17).strftime("%d/%m %H") %>hrs <br> optimo: <%= celo.comienzo.advance(:hours => 11).strftime("%d/%m %H") %>hrs</td>
        <td><%= celo.comienzo.advance(:days => -21).strftime("%d/%m %H") %>hrs</td>
        <td>
        <%= link_to 'Ver', celos_path(:vaca_select => celo.vaca_id), :class => 'btn'%>
        </td>
      </tr>
      <% end%>
  </tbody>
 </table>
 
 <% if @vaca_selected.actividades.any? && !@act_chart.nil?%>
 <div class="row">
   <br>
   <div class="span11"> 
      <div id='act_chart'></div>
        <%= render_chart(@act_chart, 'act_chart') %>
   </div>
 </div>
<% end %>
      
<% else %>
    <div class="alert alert-info">
      <button class="close" data-dismiss="alert">&times;</button>
      No se han detectado vacas en celo.
    </div>
  <% end %>

</div>

  </div>

