<div class="page-header">
  <h4>Alarmas</h4>
</div>

<div>    
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Vaca</th>
		      <th>Alarma</th>
		      <th>Detalle</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @alarmas.each do |alarma| %>
		      <tr>
		        <td><%= alarma.vaca_id %></td>
		        <td><%= alarma.tipo %></td>
		        <td><%= alarma.mensaje %></td>
		        <td><%= link_to 'Ver', vaca_path(:id => alarma.vaca_id), :class => 'btn btn-mini' %></td>
		        </tr>
		    <% end %>
		  </tbody>
		</table>
<div class="digg_pagination">
<%= will_paginate @alarmas %>
</div> 
<hr>

<% if @alarmas_servicio.any? %>
			<div class="alert alert-error">
			  <strong>Problema:</strong>
			  Se han detectado vacas con mas de cuatro servicios sin ser preñada.
			</div>
		<% end %>
		
		<% if @alarmas_parto.any? %>
		<div class="alert alert-block">
		  <strong>Alerta:</strong> Se han detectado vacas con mas de 120 dias post-parto sin ser preñadas.
		</div>
		<% end %>
		
		<% if @alarmas_bat_collar.any? %>
		<div class="alert alert-block">
		  <strong>Alerta:</strong> Se han detectado vacas con mas de 120 dias post-parto sin ser preñadas
		</div>
<% end %>


		<div class="span11">
		  <p><strong>NOTA:</strong> las valides en las alarmas generadas depende del completo uso del sistema registrando cada evento (partos, servicios)</p>
		</div>
</div>