  <div class="well sidebar-nav">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "Listado de Vacas", vacas_path %></li>
        <li><%= link_to "Vacas en Celo", celos_path %></li>
        <li><%= link_to "Alarmas", alarmas_path %></li>
        <li><%= link_to "Eventos", new_suceso_path %></li>
        <li><%= link_to "Collares", nodos_path %></li>
      </ul>
  </div>
