<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="zNP0ZrOkfDU6OyhWydeYZVxUXaH9b_-NHlpD9eaIDeE"/>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
	  <%= javascript_include_tag :highcharts %>
  
    <link type="text/css" href="assets/jquery-ui-1.8.22.custom.css" rel="Stylesheet"/>
	<script type="text/javascript" src="assets/jquery-1.7.2.min.js?body=1"></script>
	<script type="text/javascript" src="assets/jquery-ui-1.8.22.custom.min.js?body=1"></script>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">

	<div class="row-fluid">
	<div class="span2">    
    	<%= render 'layouts/left_menu'%>
    </div>
  	<div class="span9"> 
      <%= yield %>
    </div>
    </div>
   	<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
